# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
DATABASE_URL=

# -----------------------------------------------------------------------------
# Image Storage (CLOUDINARY)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# -----------------------------------------------------------------------------
# File Storage (UploadThing)
# -----------------------------------------------------------------------------
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=